<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="G3Systems.Properties.Settings.YOConnectionString"
            connectionString="Data Source=LAPTOP-F389080L\SQLEXPRESS;Initial Catalog=YO;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="PizzaDB" connectionString="Server=DESKTOP-2EGNP80\SQLEXPRESS;Database=G3Systems;Trusted_Connection=True;"
            providerName="System.Data.SqlClient" />
        <add name="G3Systems.Properties.Settings.ConnectionString" connectionString="Data Source=DESKTOP-2EGNP80\SQLEXPRESS;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="G3Systems.Properties.Settings.G3SystemsConnectionString"
            connectionString="Data Source=DESKTOP-2EGNP80\SQLEXPRESS;Initial Catalog=G3Systems;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>