<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="mssql" connectionString="Server=.;Database=G3Systems;Trusted_Connection=True;"
            providerName="System.Data.SqlClient" />

        <add name="npgsql" connectionString="Server=127.0.0.1;Port=5432;Database=G3Systems;Integrated Security=true;"
            providerName="Npgsql" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>